# This script imports data and combine them

In [2]:
import pandas as pd

from import_bcb_api import df_macro
from import_wb_api import df_gdp
from import_imf_api import df_commodities
from import_budget_data import df_budget
from import_bcb_focus import df_focus_indicators
from import_bcb_currencies import df_currencies

g:\My Drive\Data_Projects\MDS\master_thesis\fiscal-balance-forecast\scr\import_budget_data.py:42: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_budget_raw[value] = df_budget_raw[value].str.replace('.', '').str.replace(',', '.').astype(float)
g:\My Drive\Data_Projects\MDS\master_thesis\fiscal-balance-forecast\scr\import_budget_data.py:70: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_step= df_function.groupby(['year', 'code']).sum().reset_index()
g:\My Drive\Data_Projects\MDS\master_thesis\fiscal-balance-forecast\scr\import_budget_data.py:90: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_step= df_group.groupby(['year', 'code']).sum().reset_index()
g:\My Drive\Data_Projects\MDS\master_thesis\fiscal-balance-forecast\scr\import_budget_data.py:123: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_step= df_type.groupby(['year', 'code']).sum().reset_index()

EntitySet (Endpoint): ExpectativasMercadoAnuais
EntityType: br.gov.bcb.olinda.servico.Expectativas.ExpectativaMercadoAnual
Properties: Indicador<str>, IndicadorDetalhe<str>, Data<str>, DataReferencia<str>, Media<float>, Mediana<float>, DesvioPadrao<float>, Minimo<float>, Maximo<float>, numeroRespondentes<int>, baseCalculo<int>

In [66]:
dataframes = [df_macro, df_gdp, df_commodities, df_budget, df_focus_indicators, df_currencies]

for i,df in enumerate(dataframes):
    print(f"Length of {i}: {len(df)}")

Length of 0: 277
Length of 1: 275
Length of 2: 276
Length of 3: 25
Length of 4: 6037
Length of 5: 6044

In [49]:
from importlib import reload

import import_budget_data
reload(import_budget_data)
from import_budget_data import df_budget

g:\My Drive\Data_Projects\MDS\master_thesis\fiscal-balance-forecast\scr\import_budget_data.py:42: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_budget_raw[value] = df_budget_raw[value].str.replace('.', '').str.replace(',', '.').astype(float)
g:\My Drive\Data_Projects\MDS\master_thesis\fiscal-balance-forecast\scr\import_budget_data.py:70: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_step= df_function.groupby(['year', 'code']).sum().reset_index()
g:\My Drive\Data_Projects\MDS\master_thesis\fiscal-balance-forecast\scr\import_budget_data.py:90: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_step= df_group.groupby(['year', 'code']).sum().reset_index()
g:\My Drive\Data_Projects\MDS\master_thesis\fiscal-balance-forecast\scr\import_budget_data.py:123: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_step= df_type.groupby(['year', 'code']).sum().reset_index()
g:\My Drive\Data_Projects\MDS\master_thesis\fiscal-balance-forecast\scr\import_budget_data.py:164: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex.

In [ ]:
# TODO: Ajustar o nome dos indies de cada dataframe nos scripts de origem
# Filtar cada dataframe para apenas um valor por mÃªs

In [73]:
# Adjust the index name
df_currencies.rename_axis('Time', inplace=True)
df_budget.rename_axis('Time', inplace=True)
df_commodities.rename_axis('Time', inplace=True)
df_focus_indicators.rename_axis('Time', inplace=True)
df_gdp.rename_axis('Time', inplace=True)
df_macro.rename_axis('Time', inplace=True)

In [83]:
merged_df = df_macro.merge(df_gdp, on='Time', how='left')
merged_df = pd.merge(merged_df, df_commodities, on='Time', how='left')
merged_df = pd.merge(merged_df, df_focus_indicators, on='Time', how='left')
merged_df = pd.merge(merged_df, df_currencies, on='Time', how='left')
merged_df = pd.merge(merged_df, df_budget, on='Time', how='left')

print(len(merged_df))
print(len(merged_df.columns))
merged_df.to_csv('../data/merged_df.csv')

277
71

In [82]:
merged_df.head()

,eco_fiscal_result_month,eco_fiscal_result_12months,eco_inflation_month,eco_inflation_12months,eco_interest_rate,eco_gross_debt_gdp_pre,eco_gross_debt_gdp_pos,eco_gross_debt_R$_pre,eco_gross_debt_R$_pos,eco_net_debt_gdp_%,...,bud_group_personal_initial_value,bud_group_personal_spent_value,bud_group_invest_initial_value,bud_group_invest_spent_value,bud_type_mandatory_initial_value,bud_type_mandatory_spent_value,bud_type_amendments_initial_value,bud_type_disc_initial_value,bud_type_amendments_spent_value,bud_type_disc_spent_value
Time,,,,,,,,,,,,,,,,,,,,,
01-01-2001,2629.62,NaN,0.57,5.92,NaN,NaN,NaN,751214.25,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01-02-2001,1053.24,NaN,0.46,6.27,15.25,NaN,NaN,758881.03,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01-03-2001,3884.62,NaN,0.38,6.44,15.25,NaN,NaN,780864.83,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01-04-2001,6500.83,NaN,0.58,6.61,15.75,NaN,NaN,789558.26,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
01-05-2001,4011.68,NaN,0.41,7.04,16.25,NaN,NaN,807300.23,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
merged_df2 = pd.merge(df_macro, df_gdp, left_index=True, right_index=True)
merged_df2 = pd.merge(merged_df2, df_commodities, left_index=True, right_index=True)
merged_df2 = pd.merge(merged_df2, df_budget, left_index=True, right_index=True)
merged_df2 = pd.merge(merged_df2, df_focus_indicators, left_index=True, right_index=True)
merged_df2 = pd.merge(merged_df2, df_currencies, left_index=True, right_index=True, how='outer')

#merged_df2.to_csv('merged2_df.csv')

In [5]:
merged_df2.head()

Empty DataFrame
Columns: [eco_fiscal_result_month, eco_fiscal_result_12months, eco_inflation_month, eco_inflation_12months, eco_interest_rate, eco_gross_debt_gdp_pre, eco_gross_debt_gdp_pos, eco_gross_debt_R$_pre, eco_gross_debt_R$_pos, eco_net_debt_gdp_%, eco_net_debt_R$, eco_net_debt_gdp_%_federal_govt, eco_net_debt_R$_federal_govt, eco_balance_payments_US$_M, eco_GDP_R$_12_months, CHN_GDP, UK_GDP, US_GDP, Brent Crude Oil, Coffee, Iron Ore, Meat index, Orange, Soybeans, Sugar, bud_fun_09_initial_value, bud_fun_10_initial_value, bud_fun_12_initial_value, bud_fun_09_spent_value, bud_fun_10_spent_value, bud_fun_12_spent_value, bud_group_personal_initial_value, bud_group_personal_spent_value, bud_group_invest_initial_value, bud_group_invest_spent_value, bud_type_mandatory_initial_value, bud_type_mandatory_spent_value, bud_type_amendments_initial_value, bud_type_disc_initial_value, bud_type_amendments_spent_value, bud_type_disc_spent_value, exp_DIC_y, exp_DIC_y+1, exp_DIC_y+2, exp_GDP (%)_y, exp_GDP (%)_y+1, exp_GDP (%)_y+2, exp_US$_currency_y, exp_US$_currency_y+1, exp_US$_currency_y+2, exp_basic_interest_rate_y, exp_basic_interest_rate_y+1, exp_basic_interest_rate_y+2, exp_gross_public_debt_y, exp_gross_public_debt_y+1, exp_gross_public_debt_y+2, exp_inflation_y, exp_inflation_y+1, exp_inflation_y+2, exp_net_public_debt_y, exp_net_public_debt_y+1, exp_net_public_debt_y+2, exp_primary_result_y, exp_primary_result_y+1, exp_primary_result_y+2, exp_trade_balance_y, exp_trade_balance_y+1, exp_trade_balance_y+2, CNY, EUR, USD]
Index: []

[0 rows x 71 columns]

In [6]:
import pandas as pd

# List of DataFrames to merge
dataframes = [df_macro, df_gdp, df_commodities, df_budget, df_focus_indicators, df_currencies]

# Initial merge using the first DataFrame as the base
merged_df = df_macro

# Loop through the remaining DataFrames and merge them with the base DataFrame
for df in dataframes[1:]:
    merged_df = pd.merge(merged_df, df, left_index=True, right_index=True)

# Optionally, reset the index if needed
# merged_df.reset_index(inplace=True)

# Display the merged DataFrame

In [7]:
merged_df.head()

Empty DataFrame
Columns: [eco_fiscal_result_month, eco_fiscal_result_12months, eco_inflation_month, eco_inflation_12months, eco_interest_rate, eco_gross_debt_gdp_pre, eco_gross_debt_gdp_pos, eco_gross_debt_R$_pre, eco_gross_debt_R$_pos, eco_net_debt_gdp_%, eco_net_debt_R$, eco_net_debt_gdp_%_federal_govt, eco_net_debt_R$_federal_govt, eco_balance_payments_US$_M, eco_GDP_R$_12_months, CHN_GDP, UK_GDP, US_GDP, Brent Crude Oil, Coffee, Iron Ore, Meat index, Orange, Soybeans, Sugar, bud_fun_09_initial_value, bud_fun_10_initial_value, bud_fun_12_initial_value, bud_fun_09_spent_value, bud_fun_10_spent_value, bud_fun_12_spent_value, bud_group_personal_initial_value, bud_group_personal_spent_value, bud_group_invest_initial_value, bud_group_invest_spent_value, bud_type_mandatory_initial_value, bud_type_mandatory_spent_value, bud_type_amendments_initial_value, bud_type_disc_initial_value, bud_type_amendments_spent_value, bud_type_disc_spent_value, exp_DIC_y, exp_DIC_y+1, exp_DIC_y+2, exp_GDP (%)_y, exp_GDP (%)_y+1, exp_GDP (%)_y+2, exp_US$_currency_y, exp_US$_currency_y+1, exp_US$_currency_y+2, exp_basic_interest_rate_y, exp_basic_interest_rate_y+1, exp_basic_interest_rate_y+2, exp_gross_public_debt_y, exp_gross_public_debt_y+1, exp_gross_public_debt_y+2, exp_inflation_y, exp_inflation_y+1, exp_inflation_y+2, exp_net_public_debt_y, exp_net_public_debt_y+1, exp_net_public_debt_y+2, exp_primary_result_y, exp_primary_result_y+1, exp_primary_result_y+2, exp_trade_balance_y, exp_trade_balance_y+1, exp_trade_balance_y+2, CNY, EUR, USD]
Index: []

[0 rows x 71 columns]

In [ ]:
merged_df.to_csv('merged_df.csv')